.first {
    position: relative;
    width: 100%;
    height: auto;
}

.first > img {
    margin-top: -8px;
    margin-left: -8px;
    width: 1425px;
    height: 780px;
    display: block;
}

.first > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.content1, .content2 {
    display: flex;
    /* align-items: center; */
    gap: 200px;
    margin: 20px;
    margin-top: 80px;
}

.content1-img img, .content2-img img {
    width: 500px;
    height: 600px;
    margin-left: 50px;
    border-radius: 10px;
}

.content1-text h2, .content2-text h2 {
    margin-top: 80px;
    font-size: 24px;
}

.content1-text p, .content2-text p {
    margin-top: 10px;
    font-size: 16px;
}

footer{
    margin-left: -8px;
    margin-bottom: -10px;
    width: 1425px;
    height: 300px;
    background: #e6f0de;
}

footer h1 {
    display: flex;
    justify-content: center;
    gap: 250px;
}

footer h1 a{
    text-decoration: none;
    color: black;
}

footer h1 a:hover {
    color: #ff6600;
    
}

footer span {
    margin-top: 50px;
    display: inline-block;
}

footer p{
    margin-left: 500px;
    margin-top: 150px;
}