@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100..900&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
      body{
        background: #e7e1dc;
        color: #0b0e5a;
      }
      header{
        width: 100%;
      }
      header .menu{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 150px;
      }
      header > .menu a{
        text-decoration: none;
        font-family: 'Playfair Display', serif;
        font-weight: 500;
        font-size: 26px;
        color: #0b0e5a;
        justify-content: center;
      }
      header > .menu a:hover{
        color: #819e85;
      }
      .main{
        /* background-color: rgb(230, 123, 123); */
        margin-top: 20px;
        padding: 50px 200px;  /* 위아래, 왼쪽오른쪽 */
      }
      .main h1{
        font-size: 60px;
      }
      .main img{
        width: 100%;
        height: 700px;
      }

      .imgSlide {
        display: flex;
        align-items: center;
        gap: 20px; /* 텍스트와 이미지 사이 간격 */
        padding: 20px;
        margin-left: 15%;
        margin-top: 150px;
      }

      .textBox {
        flex: 0 0 450px;
      }

      .textBox h1{
        font-size: 40px;
      }

      .slideBox {
        position: relative;
        background: #000;
        width: 500px;
        height: 400px;
        flex-shrink: 0;
      }

      .slideBox img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: opacity 1s ease;
      }

      .slideBox img.active {
        opacity: 1;
        z-index: 1;
      }

      h1,h2,h3{
        font-family: 'Playfair Display', serif;
      }

      .visit{
        margin-top: 150px;
      }

      #visit-txt{
        width: 100%;
        text-align: center;
        font-size: 50px;
      }

      .visit-work{
        display: flex;
        gap: 60px;    
        align-items: center;
        justify-content: center;
      }

      .day{
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      .day h2{
        margin-top: 45px;
        margin-bottom: 30px;
        font-size: 30px;
      }

      .day h3{
        font-size: 20px
        /* margin-bottom: 12px;
        margin-top: 12px; */
      }

      footer{
        font-family: 'Lexend+Tera', serif;
        display: flex;
        gap:150px;
        padding: 60px 100px;
        /* text-align: center; */
        margin-top: 150px;
      }

      footer #text{
        margin-top: -10px;
        /* background: #000; */
      }

      .follow img{
        width: 30px;
        height: 30px;
        margin-top: -10px;
      }

      #title{
        font-size: 18px;
        font-weight: 400;
        /* background: #000; */
      }

      #copyright{
        display: flex;
        align-items: center;
      }
