.main {
  padding: 50px 200px;
}

.main h1 {
  margin-top: 20px;
  font-size: 60px;
  opacity: 0;
  transform: translateY(30px);  /* 아래에서 시작 */
  transition: opacity 1s ease, transform 1s ease;
}

.main h1.show {
  opacity: 1;
  transform: translateY(0);  /* 원래 자리로 */
}

.main img {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
}

.imgSlide {
  position: relative;
  width: 100%;
  min-height: 500px;
  margin-top: 150px;
  padding: 100px 100px;
  display: flex;
}

.slideBox {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 600px;
  height: 700px;
  margin-top: -100px;
  z-index: 2;
  clip-path: path("M0,200 Q233,-30 466,200 V700 H0 Z");
  overflow: hidden;
}

.slideBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0; /* ✅ 기본은 숨김 */
  transition: opacity 1s ease;
  z-index: 0;
}

.slideBox img.active {
  opacity: 1;
  z-index: 1;
}


.textBox {
  margin-left: 400px; /* slideBox 너비 + 간격 확보 */
  margin-top: 100px;
  height: 500px;
  background: rgb(155, 173, 157);
  z-index: 1;
  padding: 60px;
  box-sizing: border-box;
  width: 1000px;
}

.textBox h1 {
  font-size: 50px;
  margin-top: -20px;
}

.textBox h1, p{
  margin-left: 100px;
  margin-top: -10px;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

.visit {
  max-width: 1050px;
  margin: 200px auto 0 auto;
  padding: 0 120px;
  border-style: double none double none;
  border-width: 3px;
  border-color: #0b0e5aa8;
  background: linear-gradient(to right,
    rgba(11, 14, 90, 0.03), rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),
    rgba(11, 14, 90, 0.03));
}

#visit-txt {
  width: 100%;
  text-align: center;
  font-size: 50px;
}

.visit-work {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

.day {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.day h2 {
  margin-top: 45px;
  margin-bottom: 30px;
  font-size: 30px;
}

.day h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

footer {
  width: 100%;
  font-family: 'Playfair Display', serif;
  display: flex;
  gap: 50px;
  padding: 60px 100px;
  margin-top: 150px;  
}

footer #text {
  margin-top: 10px;
}

.follow img{
  width: 30px;
  height: 30px;
  margin-left: 100px;
}

#title {
  font-size: 18px;
  font-weight: 400;
}

#copyright {
  display: flex;
  align-items: center;
}